/* Container */
.receiptContainer {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
}

/* Heading */
.receiptContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table */
.receiptTable {
    width: 100%;
    border-collapse: collapse;
}

.receiptTable td {
    padding: 8px;
}

/* Status Colors */
.statusPending {
    color: red;
}

.statusPaid {
    color: green;
}

/* Payment Proof */
.proofContainer {
    text-align: center;
    margin-top: 20px;
}

.proofImage {
    margin-top: 5px;
    width: 300px;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    background: #fff;
}

/* Button */
.approveBtn {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.approveBtn:hover {
    background: darkgreen;
}

.verifiedText {
    text-align: center;
    margin-top: 10px;
    color: gray;
}